.main {
  width: 88%;
  border: 2px solid rgb(255, 115, 0);
}

.main-container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item-image {
    width: 150px;
    height: 150px;
}