$header-footer: black;
$main-color-page: rgb(55, 28, 66);
$borders: gold;
$aside-block-back: rgb(99, 0, 0);

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background:#FFF;    
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: $aside-block-back;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(204,204,204,0.4); 
}



.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color-page;
  color: white;
}
.container {
  width: 1160px;
  margin: auto;
  display: flex;
  height: 100%;
}
.header {
  background-color: $header-footer;
  width: 100%;
}
.central {
  flex-grow: 1;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  .aside {
    width: 18%;
  }
  
}


.footer {
  width: 100%;
  background-color: $header-footer;
}
.item-image {
  width: 150px;
}