$header-footer: black;
$main-color-page: rgb(55, 28, 66);
$borders: gold;
$aside-block-back: rgb(99, 0, 0);

/*Scroll bar nav*/
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background:#FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;
  background: $aside-block-back;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(204,204,204,0.4); 
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 97%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 95%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: $borders;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  position: relative;
  z-index: 10;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 6px;
  width: 12.4791%;
  border-radius: 3px;
  background: $aside-block-back;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 6px;
  width: 12.4791%;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}














.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color-page;
  color: white;
}
.container {
  width: 99vw;
  margin: auto;
  display: flex;
  height: 100%;
  @media (max-width: 1160px) {
    width: 100vw;
  }
}
.header {
  background-color: $header-footer;
  width: 100%;
}
.central {
  min-width: 100%;
  min-height: 100vh;
  justify-content: space-between;
  .aside {
    width: 18%;
  }
  
}


.footer {
  width: 100%;
  background-color: $header-footer;
}
.item-image {
  width: 150px;
}

.aside-block {
  border: 2px solid $borders;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  
  // .aside-block_category {
  //   height: 150px;
  //   overflow: hidden;
  // }
  .aside-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .aside-block__general {
    border: 2px solid $borders;
    border-radius: 8px;
    width: 92%;
    height: 20%;
    overflow-y: hidden;
    position: relative;
    background-color: $aside-block-back;
    .aside-block_title {
      width: 100%;
      background-color: black;
      border-radius: 8px;
    }
    .aside-block_item-category {
      width: 100%;
      background-color: $aside-block-back;
    }
    .aside-block_item-marks {
      background-color: $aside-block-back;
    }
    .aside-block_item-types {
      height: 100%;
      overflow-y: scroll;
      background-color: $aside-block-back;

    }
    .input__price {
      position: absolute;
      top: 85%;
    }
     .track-for-sliders {
      height: 4px;
      width: 95%;
      background-color: white;
      position: absolute;
      top: 79%;
      z-index: 5;
      left: 5px;
    }
    .price-numbers {
      display: flex;
      justify-content: space-between;
      width: 90%;
      position: relative;
      left: 5%;
      top: 5%;
    }
  }
  .aside-block_price {
    height: 13%;
  }
}
.aside-block_one-of-items {
  cursor: pointer;
}



