.main {
  width: 88%;
  border: 2px solid rgb(255, 115, 0);
  // border: 2px solid rgba(161, 159, 27, 0.377);
}
.main-header {
  height: 40px;
  border-bottom: 2px solid rgb(255, 115, 0);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.main-container-cards {
  margin: 10px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

// .item-image {
//   margin: auto 0 0 auto;
//   width: 100px;
//   height: 100px;
// }
.wrap-buttons {
  display: flex;
  margin-right: 10px;
}

.wrap-span {
  display: flex;
}
.span-main-header {

}
.span-count {
  
}